* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;
}

ul {
    max-width: 100vw;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header,
header>div,
nav,
ul,
address,
.textcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centrion {
    width: 73.125%;
    margin: auto;
}

.textcard {
    justify-content: center;
    flex-direction: column;
}


/* Header */

header {
    height: calc(100vw* 0.05);
}

header nav {
    column-gap: calc(100vw* 0.058125);
}

header ul,
header address {
    column-gap: calc(100vw*0.03125);
}


/* Footer */

footer {
    width: 100vw;
    height: calc(100vw* 0.1575);
}

footer>div {
    padding: calc(100vw* 0.0375) 0 0 0;
}

footer address {
    margin-top: calc(100vw*0.0125);
    flex-direction: column;
    align-items: flex-start;
    row-gap: calc(100vw* 0.005625);
}