ul.buttons {
    justify-content: center;
    column-gap: calc(100vw*0.005);
    margin-top: calc(100vw* 0.05875);
    margin-bottom: calc(100vw* 0.03125);
}

ul.cards {
    column-gap: calc(100vw*0.01875);
    row-gap: calc(100vw*0.01875);
    margin-bottom: calc(100vw* 0.05875);
    flex-wrap: wrap;
    align-items: initial;
    justify-content: initial;
}

ul.cards>li {
    width: calc(100vw*0.23125);
    height: calc(100vw*0.2525);
}

.textcard {
    align-items: flex-start;
    padding: calc(100vw* 0.0125) calc(100vw* 0.015) calc(100vw* 0.0125) calc(100vw* 0.015);
}

.textcard>p {
    margin-top: calc(100vw* 0.0025);
}