.hero {
    height: calc(var(--coca-cola)*0.375);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work .centrion,
.work .centrion div,
.team .centrion {
    padding-top: calc(var(--coca-cola)* 0.05875);
}

.team .centrion,
.work .centrion {
    padding-bottom: calc(var(--coca-cola)* 0.05875);
}

.super {
    padding-bottom: calc(var(--coca-cola)* 0.03125);
}

main ul {
    column-gap: calc(var(--coca-cola)*0.01875);
}

.textcard {
    align-items: center;
    padding: calc(var(--coca-cola)* 0.015) calc(var(--coca-cola)* 0.038125) calc(var(--coca-cola)* 0.015) calc(var(--coca-cola)* 0.038125);
}

.textcard>p {
    margin-top: calc(var(--coca-cola)* 0.00625);
}